footer {
    background-color: var(--purple-cl);
}
footer .container {
    padding: var(--content-padding-vt) var(--body-padding-left);
    padding-bottom: 100px;
    display: flex;
    flex-flow: column;
    gap: 60px;
}

footer .container > ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}
.footer__item, .footer__item ul {
    display: flex;
    flex-flow: column;
    gap: 5px;
}
@media only screen and (min-width: 479px) {
    footer .container > ul {
        grid-template-columns: 1fr 1fr;
    }   
}

@media only screen and (min-width: 1025px) {
    footer .container {
        padding: var(--content-padding-vt) calc(var(--content-padding-hr) + var(--body-padding-left));
        padding-bottom: 100px;
    }
    footer .container > ul {
        display: flex;
    }   
    footer .container > ul > li:first-child {
        max-width: 300px;
    }
}