* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.--onlyDesktop{
  display: none !important;
}

body {
  background-color: var(--purple-cl);
}

html {
  scroll-behavior: smooth;
}
@media only screen and (min-width: 1024px){
  .--onlyMobile{
    display: none !important;
  }

  .--onlyDesktop{
    display: block !important;
  }

  body {
    background: center / cover no-repeat url('/assets/main-background.jpg');
  }
}