/* styles for slides */

.carousel {
  width: 100%;
  height: fit-content;
}
.carousel__container {
  max-width: 100%;
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  
  position: relative;
  scroll-behavior: smooth;

  cursor: grab;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.carousel__container::-webkit-scrollbar {
  display: none;
}

.carousel__icon svg {
  width:70px;
  height:70px;
  fill: white;

}

.carousel ul {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  display: flex;
  gap: 20px;
  pointer-events: none;
  will-change: left, top;
  transition: 0.25s;
}
@media only screen and (min-width: 1024px) {  
  .carousel {
    display: grid;
    grid-template-columns: auto 200px;
    grid-template-rows: auto;
  }  

  .carousel__icon {
    display: flex !important;
    justify-content: center;
    align-items: center;

     
  }
}